version: "3.9"

services:
  emulated-sunspec-inverter:
    image: python:3.11-slim
    container_name: emulated-sunspec-inverter
    restart: unless-stopped

    volumes:
      - /share/Container/EmulatedSunSpecInverter:/app
    working_dir: /app

    command: >
      sh -c "pip install pymodbus==2.5.3 websockets &&
             python emulated_sunspec_inverter.py"

    ports:
      - "5202:5202"

    network_mode: bridge

